body{
    background-color: aliceblue;
    margin: 0;padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#user-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 60px auto;
    gap: 16px;
    max-width: 1200px;
}
.user-card{
    width: 200px;
    height: 100px;
    box-shadow: -2px 2px 13px 0px rgba(0,0,0,0.75);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: brown;
}
h4, p, a{
    margin: 5px 0;
}